Aula 17.03/vibraçção.json
[
    {
        "id": "tab_vibracao_001",
        "type": "tab",
        "label": "Vibração 6 Estágios",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject_001",
        "type": "inject",
        "z": "tab_vibracao_001",
        "name": "Tick 1s",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 90,
        "y": 200,
        "wires": [["func_simular_001"]]
    },
    {
        "id": "func_simular_001",
        "type": "function",
        "z": "tab_vibracao_001",
        "name": "Simular 6 Estágios",
        "func": "const estagios = [\n    { nome: 'Estágio 1 - Normal',   ampX: 0.1,  ampY: 0.1,  ampZ: 0.1  },\n    { nome: 'Estágio 2 - Leve',     ampX: 0.25, ampY: 0.2,  ampZ: 0.15 },\n    { nome: 'Estágio 3 - Moderado', ampX: 0.5,  ampY: 0.4,  ampZ: 0.3  },\n    { nome: 'Estágio 4 - Alto',     ampX: 1.0,  ampY: 0.8,  ampZ: 0.6  },\n    { nome: 'Estágio 5 - Crítico',  ampX: 1.8,  ampY: 1.5,  ampZ: 1.0  },\n    { nome: 'Estágio 6 - Falha',    ampX: 3.0,  ampY: 2.5,  ampZ: 1.8  }\n];\n\nconst LIMIAR_ALARME = 1.5;\nconst SEGUNDOS_POR_ESTAGIO = 10;\n\nlet tick    = context.get('tick')    || 0;\nlet estagio = context.get('estagio') || 0;\n\ntick++;\nif (tick >= SEGUNDOS_POR_ESTAGIO) {\n    tick = 0;\n    estagio = (estagio + 1) % estagios.length;\n}\ncontext.set('tick',    tick);\ncontext.set('estagio', estagio);\n\nconst e = estagios[estagio];\nconst rnd = (amp) => parseFloat(((Math.random() * 2 - 1) * amp).toFixed(3));\nconst vibX = rnd(e.ampX);\nconst vibY = rnd(e.ampY);\nconst vibZ = parseFloat((9.81 + rnd(e.ampZ)).toFixed(3));\n\nconst maxVib = Math.max(Math.abs(vibX), Math.abs(vibY));\nconst alarme = maxVib >= LIMIAR_ALARME;\n\nconst msgX    = { topic: 'X', payload: vibX };\nconst msgY    = { topic: 'Y', payload: vibY };\nconst msgZ    = { topic: 'Z', payload: vibZ };\nconst msgInfo = { payload: `${e.nome}  |  Tick ${tick}/${SEGUNDOS_POR_ESTAGIO}  |  Max: ${maxVib.toFixed(3)} m/s²` };\nconst msgAlarme = alarme\n    ? { payload: `⚠️ ALARME — ${e.nome} — ${maxVib.toFixed(3)} m/s² ≥ ${LIMIAR_ALARME}`, topic: 'alarme' }\n    : null;\n\nreturn [ [msgX, msgY, msgZ], msgInfo, msgAlarme ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            ["chart_vibracao_001", "debug_001"],
            ["text_estagio_001"],
            ["text_alarme_001", "debug_alarme_001"]
        ]
    },
    {
        "id": "chart_vibracao_001",
        "type": "ui_chart",
        "z": "tab_vibracao_001",
        "name": "Gráfico Vibração",
        "group": "group_vibracao_001",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Vibração X / Y / Z",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "-4",
        "ymax": "14",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#ff7f0e","#2ca02c","#000000","#000000","#000000","#000000","#000000","#000000"],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 540,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "debug_001",
        "type": "debug",
        "z": "tab_vibracao_001",
        "name": "Debug XYZ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "text_estagio_001",
        "type": "ui_text",
        "z": "tab_vibracao_001",
        "group": "group_vibracao_001",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Estágio Atual",
        "label": "Estágio",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "text_alarme_001",
        "type": "ui_text",
        "z": "tab_vibracao_001",
        "group": "group_alarme_001",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Texto Alarme",
        "label": "⚠️ Alarme",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "debug_alarme_001",
        "type": "debug",
        "z": "tab_vibracao_001",
        "name": "Debug Alarme",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "group_vibracao_001",
        "type": "ui_group",
        "name": "Vibração ADXL345",
        "tab": "uitab_principal_001",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_alarme_001",
        "type": "ui_group",
        "name": "Alarmes",
        "tab": "uitab_principal_001",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "uitab_principal_001",
        "type": "ui_tab",
        "name": "Sensor de Vibração",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
