Aula 24.03/Aula2403.json
[
    {
        "id": "e661ab270ec75086",
        "type": "tab",
        "label": "Vibração ADXL345",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79162d0ff2a3a6c0",
        "type": "ui_tab",
        "name": "Sensor de Vibração",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "55bff4dfb654824f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "uitab_principal_001",
        "type": "ui_tab",
        "name": "Sensor de Vibração",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_vibracao_001",
        "type": "ui_group",
        "name": "Vibração ADXL345",
        "tab": "uitab_principal_001",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_alarme_001",
        "type": "ui_group",
        "name": "Alarmes",
        "tab": "uitab_principal_001",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0b7d5d8b7f1e123",
        "type": "ui_group",
        "name": "Sensor de Vibração",
        "tab": "79162d0ff2a3a6c0",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4123bae49834c2f",
        "type": "ui_tab",
        "name": "Sensor de Vibração",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dash_tab",
        "type": "ui_tab",
        "name": "Vibração ADXL345",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "grp_grafico",
        "type": "ui_group",
        "name": "Gráfico e Gauge",
        "tab": "dash_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "Status do Estágio",
        "tab": "dash_tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "grp_alarme",
        "type": "ui_group",
        "name": "Alarme",
        "tab": "dash_tab",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a701fb58f513860",
        "type": "MySQLdatabase",
        "name": "aula2403",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "aula2403",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a87436bd4479e570",
        "type": "ui_tab",
        "name": "Sensor de Vibração",
        "icon": "dashboard"
    },
    {
        "id": "a6a422d8b5049573",
        "type": "inject",
        "z": "e661ab270ec75086",
        "name": "Gerar Leitura",
        "repeat": "1",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "61e13e134a73ee1f"
            ]
        ]
    },
    {
        "id": "61e13e134a73ee1f",
        "type": "function",
        "z": "e661ab270ec75086",
        "name": "Simular ADXL345",
        "func": "// Simulação de vibração\nlet vibX = (Math.random() * 2 - 1).toFixed(2);\nlet vibY = (Math.random() * 2 - 1).toFixed(2);\nlet vibZ = (9.81 + (Math.random() * 0.5 - 0.25)).toFixed(2);\n\n// manda tudo junto\nmsg.payload = {\n    x: parseFloat(vibX),\n    y: parseFloat(vibY),\n    z: parseFloat(vibZ)\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "7f26a45559080599",
                "389f4f2b26295962"
            ]
        ]
    },
    {
        "id": "7f26a45559080599",
        "type": "function",
        "z": "e661ab270ec75086",
        "name": "Formatar Gráfico",
        "func": "let msgs = [];\nmsgs.push({ topic: \"X\", payload: msg.payload.x });\nmsgs.push({ topic: \"Y\", payload: msg.payload.y });\nmsgs.push({ topic: \"Z\", payload: msg.payload.z });\nreturn [msgs];",
        "outputs": 1,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "a5a5eb1987139837"
            ]
        ]
    },
    {
        "id": "389f4f2b26295962",
        "type": "function",
        "z": "e661ab270ec75086",
        "name": "Preparar SQL",
        "func": "msg.topic = \"INSERT INTO vibracao (X, Y, Z) VALUES (?, ?, ?)\";\nmsg.payload = [msg.payload.x, msg.payload.y, msg.payload.z];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "af2e4ca09f6451e3"
            ]
        ]
    },
    {
        "id": "af2e4ca09f6451e3",
        "type": "mysql",
        "z": "e661ab270ec75086",
        "mydb": "9a701fb58f513860",
        "name": "Salvar no MySQL",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "03a5eebb54c12b0b"
            ]
        ]
    },
    {
        "id": "03a5eebb54c12b0b",
        "type": "debug",
        "z": "e661ab270ec75086",
        "name": "Debug SQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5a5eb1987139837",
        "type": "ui_chart",
        "z": "e661ab270ec75086",
        "name": "Gráfico Vibração",
        "group": "f0b7d5d8b7f1e123",
        "order": 1,
        "label": "Simulação ADXL345",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "ymin": "-2",
        "ymax": "12",
        "removeOlder": "60",
        "removeOlderUnit": "60",
        "outputs": 1,
        "useDifferentColor": true,
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    }
]